<div class="container-fluid" style="margin-top: 70px;">
  <div class="card">
    <div class="card-header">
      {{title}}
    </div>

  <div class="card-body">
    <div class="row">
      <div class="col-md-2">Filter by:</div>
      <div class="col-md-4">
        <input class="form-control" type="text" [(ngModel)]="listFilter" />
      </div>
    </div>
    <div class="row" *ngIf="listFilter">
      <div class="col-md-6">
        <h4>Filtered by: {{listFilter}}</h4>
      </div>
    </div>
    <br>
    <table class="table table-hover" *ngIf="countryList">
      <thead>
      <tr>
        <th>Flag</th>
        <th>Calling Code</th>
        <th>Country</th>
        <th>Capital</th>
      </tr>
      </thead>

      <tbody>
      <!-- BIND ARRAY TO TABLE -->
      <tr class = "country" *ngFor="let country of filteredCountry">
        <td><img width="70" height="40" src="{{country['flag']}}" alt="{{country['name']}}">
        <td>{{country.numericCode}}</td>
        <td><a [routerLink]="['/country-details', country.name]">{{country.name}}</a></td>
        <td>{{country.capital}}</td>
      </tr>
      </tbody>
    </table>
</div>

</div>
</div>
