<div class="container-fluid" style="margin-top: 70px;">

  <div class="container-fluid" style="margin-top: 70px">

    <h1>
      {{ title }}!
    </h1>

    <table class="table table-hover" *ngIf="countryList">
      <!-- ADD HEADERS -->
      <thead>
      <tr>
        <th>Calling Code</th>
        <th>Country</th>
        <th>Capital</th>
      </tr>
      </thead>

      <tbody>
      <!-- BIND ARRAY TO TABLE -->
      <tr *ngFor="let country of countryList" (click)="onSelect(country)">
        <td>{{country.callingCodes}}</td>
        <td>{{country.name}}</td>
        <td>{{country.capital}}</td>
      </tr>
      </tbody>
    </table>


  </div>


</div>
